* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url('./images/rain.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  color: white;
}

header {
  height: 80px;
  padding: 0 50px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a {
  height: 32px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-ctn {
  width: 400px;
  margin: 40px 0;
  border-radius: 12px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 4px black;
  display: flex;
  justify-content: center;
}

#use-location-ctn {
  display: flex;
  align-items: center;
}

#use-location-ctn img {
  margin-right: 5px;
}

#search-input-ctn {
  margin: 20px 0 10px;
}

#search-ctn label {
  margin-right: 10px;
}

input[type='text'] {
  width: 150px;
  height: 30px;
  outline: none;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0 5px;
}

input[type='button'] {
  height: 30px;
  border: 1px solid darkblue;
  border-radius: 3px;
  padding: 0 12px;
  background-color: darkblue;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  color: inherit;
  cursor: pointer;
}

#weather-data {
  width: 400px;
  height: 300px;
  border-radius: 12px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 4px black;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

#location {
  font-size: 42px;
}

#temperature-ctn {
  flex-grow: 10;
  padding-top: 12px;
  text-align: center;
}

#temperature {
  font-size: 72px;
}

#temp-symbol {
  margin-left: 6px;
  font-size: 30px;
}
