@import url('https://fonts.googleapis.com/css2?family=Martel&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url('./images/rain.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: white;
}

header {
  height: 80px;
  background-color: deepskyblue;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Martel', serif;
}

/* fix anchor element size problem */
header a {
  height: 32px;
}

main {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-ctn,
#weather-data {
  width: 100%;
  max-width: 400px;
  margin-top: 40px;
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
}

#search-ctn {
  align-items: center;
}

#search-ctn div:nth-child(1) {
  display: flex;
  align-items: center;
}

#search-ctn img {
  margin-right: 5px;
}

#search-ctn div:nth-child(2) {
  margin: 20px 0 10px;
  display: flex; /* fix alignment problem */
}

#search-ctn label {
  margin-right: 10px;
}

input[type='text'] {
  width: 150px;
  height: 30px;
  margin-right: 5px;
  outline: none;
  border: 1px solid darkblue;
  border-radius: 3px;
  padding: 0 5px;
  font-size: inherit;
}

input[type='button'] {
  width: 80px;
  height: 30px;
  border: 1px solid darkblue;
  border-radius: 3px;
  background-color: darkblue;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0)
  );
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

#weather-data {
  height: 360px;
  visibility: hidden;
}

#city-name {
  margin-right: 5px;
  font-family: 'Martel', serif;
  font-size: 36px;
}

#weather-data div:nth-child(3) {
  flex-grow: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#temperature {
  margin-right: 10px;
  font-size: 72px;
}

#temp-symbol {
  font-size: 30px;
}

/* @media screen and (min-width: 1024px) {

} */
