@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#github-logo {
  width: 32px;
  height: 32px;
}

.country-flag {
  width: 24px;
  height: 24px;
}

.icon {
  width: 32px;
  height: 32px;
}

.icon-large {
  width: 120px;
  height: 120px;
}

.scroll-button img {
  width: 24px;
  height: 24px;
}

.mr-small {
  margin-right: 5px;
}

.mr-med {
  margin-right: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 280px;
  background-color: rgb(15, 45, 90);
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
}

header {
  width: 100%;
  height: 80px;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

body > header {
  background-color: rgb(0, 120, 210);
  justify-content: space-around;
}

section {
  display: flex;
}

div {
  display: flex;
}

#search-container,
#current-data {
  max-width: 400px;
  width: calc(100% - 20px);
  border-radius: 5px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

#search-container {
  margin: 20px auto 0 auto;
  flex-direction: column;
  align-items: center;
}

#search-container > div {
  align-items: center;
}

#search-container > div:nth-child(2) {
  margin: 20px 0 10px;
}

#search-input {
  width: 160px;
  height: 30px;
  outline: none;
  border: 1px solid rgb(15, 45, 90);
  border-right: none;
  padding: 0 5px;
  font-family: inherit;
}

#search-button {
  width: 80px;
  height: 30px;
  border: 1px solid rgb(15, 45, 90);
  border-left: none;
  background-color: rgb(0, 120, 210);
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  cursor: pointer;
}

input[type='radio'],
label {
  cursor: pointer;
}

#message-container {
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
}

#message-container p {
  background-color: #eee;
  font-family: 'Roboto Mono', monospace;
  color: black;
}

#current-data {
  margin: 0 auto 0 auto;
  height: 360px;
  flex-direction: column;
  display: none;
}

#current-data > div:first-child {
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
}

#current-data > div:nth-child(2) {
  margin-top: 5px;
  flex-direction: column;
  font-size: 18px;
}

#current-data > div:nth-child(3) {
  flex-grow: 10;
  justify-content: space-evenly;
}

#current-temperature {
  align-items: center;
}

#temperature {
  font-size: 72px;
}

#temp-symbol {
  font-size: 36px;
}

#current-data > div:last-child {
  justify-content: space-between;
}

#current-min-max {
  flex-direction: column;
  justify-content: space-between;
}

#current-min-max > div {
  align-items: center;
}

#current-extras {
  flex-direction: column;
  align-items: flex-end;
}

section + header {
  position: fixed;
  top: -100px;
  left: 0;
  padding-left: 20px;
  background-color: black;
  font-size: 30px;
  transition: top 1s ease;
}

#forecast-data {
  margin: 40px 0 80px;
  display: none;
}

#forecast-data > div:first-child {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

ul {
  width: 100%;
  padding: 0 20px;
  background-color: rgb(0, 120, 210);
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

li {
  height: 50px;
  border-bottom: 1px solid lightblue;
  display: flex;
  justify-content: space-between;
}

ul:last-of-type li:last-child {
  border-bottom: none;
}

li > div {
  align-items: center;
}

.forecast-date {
  width: 30px;
  flex-direction: column;
  align-items: center;
}

.forecast-date span:first-child,
.forecast-time {
  font-size: 12px;
}

li > div:nth-child(2) {
  font-size: 11px;
}

li > div:last-child {
  width: 85px;
  justify-content: flex-end;
}

#forecast-data > div:last-child {
  display: none;
}

#scroll-back {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: -90px;
  left: calc(50% - 30px);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  transition: bottom 1s ease;
  cursor: pointer;
}

@media screen and (max-width: 360px) {
  .icon-large {
    width: 100px;
    height: 100px;
  }

  #search-input {
    width: 120px;
  }

  #temperature {
    font-size: 48px;
  }

  #temp-symbol {
    font-size: 20px;
  }

  #current-data > div:last-child {
    justify-content: flex-end;
  }

  #current-min-max {
    display: none;
  }

  li > div:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .icon-large {
    width: 160px;
    height: 160px;
  }

  body {
    min-height: 100vh;
    background-image: url(./images/rain.jpeg);
    background-size: cover;
    background-position: center;
  }

  #search-container {
    max-width: none;
    width: 100%;
    margin: 0;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    flex-direction: row;
    justify-content: center;
  }

  #search-container > div:nth-child(2) {
    margin: 0 20px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #current-data {
    max-width: none;
    width: 480px;
    height: 440px;
    margin: 0 0 40px 0;
    border-radius: 0;
    padding: 40px;
    backdrop-filter: blur(6px);
  }

  #current-data > div:first-child {
    font-size: 36px;
  }

  #temperature {
    font-size: 80px;
  }

  #current-min-max {
    font-size: 20px;
  }

  #current-extras {
    font-size: 18px;
  }

  #forecast-data {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }

  #forecast-data > div:first-child {
    width: 480px;
    height: 440px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
  }

  ul {
    padding: 20px;
    background-color: rgba(0, 90, 180, 0.8);
    backdrop-filter: blur(6px);
    scroll-snap-align: start;
  }

  ul li:last-child {
    border-bottom: none;
  }

  li > div:nth-child(2) {
    font-size: 12px;
  }

  #forecast-data > div:last-child {
    width: 200px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  #scroll-up,
  #scroll-down {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 90, 180, 0.8);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #scroll-up {
    opacity: 0.5;
  }
}

@media screen and (min-width: 1280px) {
  main {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  #current-data {
    margin: 0 40px 0 0;
  }
}
